<footer class="footer mt-auto py-3 bg-dark">
  <div class="container text-center">
    <span class="text-muted">&copy; 2022 <%= link_to "Admin GitHUb", "https://github.com/ivanprytula", class: "text-white" %> </span>
  </div>
</footer>